.abt {
    background-image: url("..//img/ironing-403074_1920.jpg");
    text-align: center;
}

.nm {
    color: blue;
}

.banner-content .banner-text {
    padding: 2rem;
    color: darkblue;
}

.banner-text h1 {
    font-size: 3rem;
    padding: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    font-family: Livvic;
}

.banner-text .banner-text-btn {
    cursor: pointer;
    padding: 0 1rem 1rem;
}

.banner-text-btn {
    background-color: transparent;
    border: 1.5px solid var(--cyan);
    color: var(--cyan);
}

.banner-form-sect {
    background: #fff;
    border-radius: 5px;
    color: #7a838b;
}

.banner-form-sect-content {
    margin: 4rem 3rem 3rem;
}

.banner-form-sect h3 {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem;
    color: #000;
}

.banner-form-sect h3,
p {
    margin: 0 auto;
    text-align: center;
}

.banner-form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.banner-form .select {
    padding: 0.5rem 1rem;
    border: 1.5px solid #7a838b;
    width: 300px;
    margin: 1rem 0;
    border-radius: 5px;
    color: #7a838b;
    font-family: poppins;
    cursor: pointer;
}